@charset "utf-8";

body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(100, 11, 34);
}
h2 {
    background-color: rgb(207, 176, 176);
}
p {
    text-align: justify;
}